<section id="House">
    <div class="container">
<div class="row p-3 gy-2">
       <div class="col-md-3">
            <select class="form-select  p-3">
              <option>Block Number</option>  
                <option *ngFor="let House of Houses">{{House.attributes.block_number}}</option>
            </select>
            </div>
            <div class="col-md-3">

                <select class="form-select p-3 ">
                  <option>Lana Number</option>  
                    <option *ngFor="let House of Houses">{{House.attributes.land_number}}</option>
                </select>
            </div>
            <div class="col-md-3">

                <select class="form-select p-3  ">
                  <option>Price Max</option>  
                    <option *ngFor="let House of Houses">{{House.attributes.price}}</option>
                </select>
            </div>
            <div class="col-md-3">

              <select class="form-select p-3 ">
                <option>Price Min </option>  
                  <option *ngFor="let House of Houses">{{House.attributes.price}}</option>
              </select>
          </div>
          <div class="col-md-3">
            <a [routerLink]="['/HouseNew']" routerLinkActive="router-link-active" class="btn btn-light"*ngIf="userToken" >
             Creat House</a> 
         </div>
            <div class="col-md-12" *ngFor="let House of Models; let i = index"  data-aos="fade-up">
                <button class="form-control fs-3  m-3 rounded-pill house p-3 text-white text-center "  
                        (click)="fliterModel(House.attributes.model, i)" id="">
                        <i class="fas fa-caret-down" *ngIf="isHouseVisible === i"></i>
    <i class="fas fa-caret-up" *ngIf="isHouseVisible !== i"></i>
                  {{ House.attributes.media.title }}
                </button>
                <div *ngIf="isHouseVisible === i" data-aos="fade-in">

                  <div class="row py-3 bg-light rounded-3 "data-aos="fade-in" >
                      <div class="col-md-6  ">
                        <div class=" card-img overflow-hidden rounded-3">
                            <img src="../../../assets/OIP.jpeg" class="w-100 card-img-top house ">
                        </div>
                      </div>
                    <div class="col-md-6 p-3 ">
                      <h6 *ngIf="filteredModels.length > 0" class="h2">{{ filteredModels[0].attributes.media.title }}</h6>
                      <p *ngIf="filteredModels.length > 0" class="fs-5">{{ filteredModels[0].attributes.media.description }}</p>
                    </div>
                  </div>
                  <table  class="table m-auto  bg-light-subtle" data-aos="fade-in">
                    <tr class="text-center ">
                      <th>House number</th>
                      <th>Block No</th>
                      <th>Price</th>
                      <th>Lane No</th>
                      <th>Status</th>
                      <th>Type</th>
                      <th *ngIf="userToken">Action</th>
                    </tr>
                    <tr *ngFor="let house of filteredHouse" class="text-center fs-5">
                      <td>{{ house.attributes.house_number }}</td>
                      <td>{{ house.attributes.block_number }}</td>
                      <td class="text-success">${{ house.attributes.price }}</td>
                      <td>{{ house.attributes.land_number }}</td>
                      <td>{{ house.attributes.status }}</td>
                      <td>{{ house.attributes.house_type }}</td>
                      <td *ngIf="userToken">
                        <a [routerLink]="['/UpdataHouse', house.id]" routerLinkActive="router-link-active" class="nav-link bg-light-subtle">Edit</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
</div>
    </div>
</section>
