<section id="House">
    <div class="container">
<div class="row p-3">
    <div class="col-md-2">
       
            <select class="form-select">
              <option>Block Number</option>  
                <option *ngFor="let House of Houses">{{House.attributes.block_number}}</option>
            </select>
            </div>
            <div class="col-md-2">

                <select class="form-select">
                  <option>Lana Number</option>  
                    <option *ngFor="let House of Houses">{{House.attributes.land_number}}</option>
                </select>
            </div>
            <div class="col-md-2">

                <select class="form-select">
                  <option>Price Max</option>  
                    <option *ngFor="let House of Houses">{{House.attributes.price}}</option>
                </select>
            </div>
            <div class="col-md-2">

                <select class="form-select" >
                    <option>Model</option>
                    <option *ngFor="let House of Houses">{{House.id}}</option>
                </select>
            </div>
       
        
  
    <div class="col-md-2">
       <a [routerLink]="['/HouseNew']" routerLinkActive="router-link-active" >
        <button class="btn btn-light"*ngIf="userToken"> Creat House</button></a> 
    </div>
</div>
<div class="border border-dark">
    <p class="border border-dark m-0"(click)="HouseModels(1)">House model 1 </p>
    <p class="border border-dark m-0 bg-primary"(click)="HouseModels(2)">House model 2 </p>
<div class="row p-3">
    <div class="col-md-6">
<h6>{{Models.attributes.media.title}}</h6>
<p>{{Models.attributes.media.description}}</p>
    </div>
    <div class="col-md-6">
<video class="w-100">
<source [src]="Models.attributes.media.video">
</video>
    </div>
</div>
    <table border="2"class="table  m-auto ">
        <tr class="text-center">
    <th>House numer</th>
    <th>Block No</th>
    <th>Price</th>
    <th>lane No</th>
    <th>statue</th>
    <th *ngIf="userToken">
        Action
    </th>
        </tr>
        <tr *ngFor="let House of Houses" class="text-center">
         <td>{{House.attributes.house_number}}</td>
         <td>{{House.attributes.block_number}}</td>
         <td>{{House.attributes.price}}</td>
         <td>{{House.attributes.land_number}}</td>
         <td>{{House.attributes.status}}</td>
         <td *ngIf="userToken">

           <a [routerLink]="['/UpdataHouse',House.id]" routerLinkActive="router-link-active" class="nav-link">Edit</a> 
          </td>
          
        </tr>
     
    </table>
    <p class="border border-dark m-0 mt-3"(click)="HouseModels(3)">House model 3 </p>
    <p class="border border-dark m-0 "(click)="HouseModels(4)">House model 4 </p>
</div>
    </div>
</section>
