/* table{
    width: 100%;
    table-layout: fixed;
}
td,th{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

td {
    max-width: 200px;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.house {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    transition: all 0.5s ease-in-out; 
}

.house:hover {
    transform: scale(1.1);

}


