table{
    width: 100%;
    table-layout: fixed;
}
td,th{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.house {
    transition: all 0.5s ease-in-out; 
}

.house:hover {
    transform: scale(1.1);
}
