<section id="NewHouse">
    <div class="container">    
        <form class="form" (ngSubmit)="createHouse()" [formGroup]="House">
            <div class="d-flex justify-content-between pt-4" data-aos="fade-up">
                <h2>House List </h2> 
    <button class="btn btn-light rounded-pill" type="submit">Create  </button>
            </div>
    <div class="row">
        <div class="col-md-3"  data-aos="fade-up">
            <label for="HouseNumber" class="form-label">House Number</label>
            <input class="form-control rounded-pill" type="text" id="House Number" formControlName="house_number"> 
            <div *ngIf="House.get('house_number')?.errors&&House.get('house_number')?.touched" class="text-danger">
                <small *ngIf="House.get('house_number')?.getError('required')">House Number is required</small>
            </div>
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <label for="BlockNumber" class="form-label">Block Number</label>
            <input class="form-control rounded-pill" type="text"id="BlockNumber" formControlName="block_number"> 
            <div *ngIf="House.get('block_number')?.errors&&House.get('block_number')?.touched" class="text-danger">
                <small *ngIf="House.get('block_number')?.getError('required')">Block Number is required</small>
            </div>
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <label for="Land" class="form-label">land Number</label>
            <input class="form-control rounded-pill" type="text"id="Land" formControlName="land_number">
            <div *ngIf="House.get('land_number')?.errors&&House.get('land_number')?.touched" class="text-danger">
                <small *ngIf="House.get('land_number')?.getError('required')">Land Number is required</small>
            </div> 
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <label for="HouseType" class="form-label">House Type</label>
            <input class="form-control rounded-pill" id="HouseType" type="text"formControlName="house_type" > 
            <div *ngIf="House.get('house_type')?.errors&&House.get('house_type')?.touched" class="text-danger">
                <small *ngIf="House.get('house_type')?.getError('required')">house_type is required</small>
            </div>
        </div>
        <div class="col-md-3"data-aos="fade-up">
            <label for="Housemodel" class="form-label">House model</label>
            <input class="form-control rounded-pill" type="text" id="Housemodel" formControlName="model">
            <div *ngIf="House.get('model')?.errors&&House.get('model')?.touched" class="text-danger">
                <small *ngIf="House.get('model')?.getError('required')">House model is required</small>
            </div> 
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <label for="Price" class="form-label">Price</label>
            <input class="form-control rounded-pill" type="text" id="Price" formControlName="price"> 
            <div *ngIf="House.get('price')?.errors&&House.get('price')?.touched" class="text-danger">
                <small *ngIf="House.get('price')?.getError('required')">price Number is required</small>
                <small *ngIf="House.get('price')?.getError('pattern')">price Number must Number </small>
            </div>
        </div>
        <div class="col-md-3" data-aos="fade-up">
            <label for="Statue" class="form-label">Statue</label>
            <input class="form-control rounded-pill" type="text" id="Statue" formControlName="status"> 
            <div *ngIf="House.get('status')?.errors&&House.get('status')?.touched" class="text-danger">
                <small *ngIf="House.get('status')?.getError('required')">status Number is required</small>
                
            </div>
        </div>
    </div>
        </form>
       
    </div>
</section>
