<section id="NewHouse">
    <div class="container">
        <form class="" (ngSubmit)="UpDate()" [formGroup]="House"data-aos="fade-up">
            <div class="" >
                <h2> Updata House List </h2>
               
            </div>
            <table class="table">
                <tr>
                    <th><label for="HouseNumber" class="form-label bg-transparent text-white">House Number</label></th>
                    <th> <label for="BlockNumber" class="form-label bg-transparent text-white">Block Number</label></th>
                    <th>  <label for="Land" class="form-label bg-transparent text-white">land Number</label></th>
                    <th> <label for="HouseType" class="form-label bg-transparent text-white">House Type</label></th>
                    <th> <label for="Housemodel" class="form-label bg-transparent text-white">House model</label></th>
                    <th> <label for="Price" class="form-label bg-transparent text-white">Price</label></th>
                    <th><label for="Statue" class="form-label bg-transparent text-white">Statue</label></th>
                    <th>Action</th>
                </tr>
                <tr class="" >
                    <td>
                        <input class="form-control rounded-pill" type="text" id="HouseNumber"
                            formControlName="house_number">
                        <div *ngIf="House.get('house_number')?.errors&&House.get('house_number')?.touched"
                            class="text-danger">
                            <small *ngIf="House.get('house_number')?.getError('required')">House Number is
                                required</small>
                        </div>
                    </td>
                    <td>

                        <input class="form-control rounded-pill" type="text" id="BlockNumber"
                            formControlName="block_number">
                        <div *ngIf="House.get('block_number')?.errors&&House.get('block_number')?.touched"
                            class="text-danger">
                            <small *ngIf="House.get('block_number')?.getError('required')">Block Number is
                                required</small>
                        </div>
                    </td>
                    <td>
                        <input class="form-control rounded-pill" type="text" id="Land" formControlName="land_number">
                        <div *ngIf="House.get('land_number')?.errors&&House.get('land_number')?.touched"
                            class="text-danger">
                            <small *ngIf="House.get('land_number')?.getError('required')">Land Number is
                                required</small>
                        </div>
                    </td>
                    <td>
                        <input class="form-control rounded-pill" id="HouseType" type="text"
                            formControlName="house_type">
                        <div *ngIf="House.get('house_type')?.errors&&House.get('house_type')?.touched"
                            class="text-danger">
                            <small *ngIf="House.get('house_type')?.getError('required')">house_type is required</small>
                        </div>
                    </td>
                    <td>
                        <input class="form-control rounded-pill" type="text" id="Housemodel" formControlName="model">
                        <div *ngIf="House.get('model')?.errors&&House.get('model')?.touched" class="text-danger">
                            <small *ngIf="House.get('model')?.getError('required')">House model is required</small>
                        </div>
                    </td>
                    <td>
                        <input class="form-control rounded-pill" type="text" id="Price" formControlName="price">
                        <div *ngIf="House.get('price')?.errors&&House.get('price')?.touched" class="text-danger">
                            <small *ngIf="House.get('price')?.getError('required')">price Number is required</small>
                            <small *ngIf="House.get('price')?.getError('pattern')">price Number must Number </small>
                        </div>

                    </td>
                    <td>
                        <input class="form-control rounded-pill" type="text" id="Statue" formControlName="status">
                        <div *ngIf="House.get('status')?.errors&&House.get('status')?.touched" class="text-danger">
                            <small *ngIf="House.get('status')?.getError('required')">status Number is required</small>

                        </div>
                    </td>
                    <td> <button class="btn btn-light rounded-pill" type="submit">UpdataHouse </button></td>
                </tr>
            </table>
        </form>

    </div>
</section>